:root {
    direction: rtl;
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 99vh;
    width: 100vw;
    font-size: 30px;
}

* {
    box-sizing: content-box;
}

.skipButton {
    color: black;
    background-color: white;

    &.active {
        color: white;
        background-color: black;
    }
}